<mat-card appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary">policy</mat-icon>
        </div>
        <mat-card-title>Role {{ type?.value }}</mat-card-title>
        <mat-card-subtitle>This role will be available to assign to groups and users</mat-card-subtitle>
        <span class="spacer"></span>
        <div class="remove-role">
            <button mat-icon-button type="button" matTooltip="Delete role" (click)="deleteRole()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="microserviceRoleFormGroup.formGroup">
            <div class="form-container">

                <!-- DEFAULT checkbox-->
                <div class="form-line">
                    <span class="spacer"></span>
                    <mat-checkbox matTooltip="When active, role is selected as default"
                                  labelPosition="before"
                                  formControlName="default">
                        Default
                    </mat-checkbox>
                </div>

                <!-- TYPE field-->
                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <input matInput placeholder="Type" formControlName="type" required>
                    <button mat-button *ngIf="type.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="type.setValue(''); onClear();">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>Type cannot be empty</mat-error>
                </mat-form-field>

                <!-- DESCRIPTION field-->
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    <button mat-button
                            *ngIf="description.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="description.setValue(''); onClear();">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>

