Source: kypo2-user-and-group-management
Maintainer: Martin Machac <machacm@ics.muni.cz>
Build-depends: debhelper (>= 8.0.0)
Section: misc
Standards-Version: 3.9.8

Package: kypo2-user-and-group-management
Architecture: any
Depends: ${misc:Depends}
Priority: optional
Description: KYPO user-and-group project
 This is parent project representing front-end for Kypo2-user-and-group.

