.content {
  min-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  width: 100%;
}

app-roles-table {
  width: 100%;
  margin: 10px 0;
}

button {
  margin-right: 10px;
}

